.click-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .click-page-container {
    margin-top: 135px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .enemy {
    .enemy-character {
      position: absolute;
      bottom: 185px;
      left: 250px;
      z-index: 2;
      pointer-events: none;
    }
    .enemy-shadow {
      position: absolute;
      width: 192px;
      height: 59px;
      bottom: 175px;
      left: 240px;
      z-index: 1;

      background: radial-gradient(
        50% 50% at 50% 50%,
        #000000 42.71%,
        rgba(0, 0, 0, 0.6) 68.75%,
        rgba(0, 0, 0, 0.2) 90.62%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }
}
