.click-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .click-page-container {
    margin-top: 135px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .notification-container {
    font-size: 14px;
    box-sizing: border-box;
    position: fixed;
  }
}
