@import "node_modules/pixel-borders/src/styles/pixel-borders.scss";

.health-component {
  width: 600px;
  height: 20px;

  .health-value {
    width: 100%;
    text-align: center;
    color: #fff;
    margin-bottom: 7px;
    font: normal 17px "Emilys Candy", serif;
    font-weight: 600;
    // background: linear-gradient(180deg, #ab26b7 0%, #000000 100%);
    background: linear-gradient(180deg, #728fdb 0%, #ffffff 100%);
    background: linear-gradient(180deg, #df8181 0%, #eaeaea 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .health-bar {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(
      180deg,
      #969696 0%,
      #676464 48.96%,
      #969696 100%
    );

    z-index: 1;
    border-radius: 15px;

    .health-bar-border {
      @include pixel-borders(
        $corner-size: 2,
        $border-size: 2px,
        $border-color: #5d6263,
        $border-inset-color: false
      );
      width: 100%;
      height: 100%;
      z-index: 3;
    }

    .health-bar-inner {
      @include pixel-borders(
        $corner-size: 2,
        $border-size: 2px,
        $border-color: red,
        $border-inset-color: false
      );
      z-index: 2;
      height: calc(100% - 4px);
      background: linear-gradient(
        180deg,
        #e61414 0%,
        #9d2525 48.96%,
        #e51414 100%
      );
      position: absolute;
      top: 2px;
      left: 2px;
    }
  }
}
