header {
  /* Striped background */
  background: #2a1135;
  background-image: linear-gradient(90deg, transparent 50%, #190b20 50%);
  background-size: 52px;
  box-shadow: inset 0 0 100px #000;
  z-index: 4;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  padding: 2em 2em 3em;
  position: relative;
  // transform: translateY(-100%);
  // transition: 0.5s;

  // &:hover {
  //   transform: translateY(0%);
  // }

  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -2;
  }

  /* Header bottom edge */
  &::after {
    background-image: radial-gradient(#07050a 40%, transparent 41%),
      radial-gradient(#07050a 40%, transparent 41%);
    background-size: 104px 104px;
    background-position: 0 0, 52px 0;

    height: 104px;
    bottom: -52px;
    transform: translateZ(-1px);
  }
}

.header-logo-container {
  text-decoration: none;

  color: #fff;
  font: normal 52px "Emilys Candy", serif;
  text-shadow: 3px 3px 0 #000;
  width: max-content;
  margin-top: 20px;
  cursor: url("../../../../assets/cursor.png"), pointer;
}

nav {
  ul {
    display: flex;
    gap: 100px;
    li {
      display: flex;
      align-items: center;
      gap: 5px;
      margin: 0;
      padding: 0;
      list-style: none;
      color: #fff;
      font-weight: 700;
    }
  }
}

.tagline {
  color: #dcbd77;
  margin-top: 7px;
}

/* Remove effects on mobile, fix nav */
@media (max-width: 714px) {
  header::before {
    display: none;
  }

  nav {
    p {
      line-height: 2.5;
      padding: 1em;
      white-space: nowrap;
    }
  }
}
